{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Ride List</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="navbar">

<div class="logo">RideShare</div>

<div class="nav-links">

<a href="/">Home</a>

{% if user.is_authenticated %}

<a href="{% url 'searchride' %}">Find Ride</a>
<a href="{% url 'createride' %}">Offer Ride</a>
<a href="{% url 'mybookings' %}">My Bookings</a>
<form action="{% url 'logout' %}" method="POST" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="background:none; border:none; color:white; cursor:pointer;">
        Logout
    </button>
</form>

{% else %}

<a href="/accounts/login/">Login</a>
<a href="{% url 'register' %}">Register</a>

{% endif %}

</div>

</nav>

<h2 style="text-align:center; margin-top:30px;">Available Rides</h2>

<div style="padding:20px;">

{% for ride in rides %}
<p>
    <strong>{{ ride.pickup_location }}</strong> → {{ ride.destination }} |
    Seats: {{ ride.seats_available }} |
    Price: €{{ ride.price }}

<a href="{% url 'payment' ride.id %}">Pay & Book</a></p>
{% endfor %}

</div>

</body>

</html>